.site-nav ul,
.site-nav .nav-list,
.site-nav .nav-list ul {
  margin: 0 !important;
  padding-left: 0 !important;
  padding-inline-start: 0 !important;
  list-style: none !important;
}

.site-nav .nav-list-item {
  margin: 0 !important;
  padding-left: 0 !important;
}

.site-nav .nav-list-link {
  display: block;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.side-bar .site-header,
.side-bar .site-title {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.side-bar {
  padding-left: 0 !important;
}

.site-nav .nav-list .nav-list {
  padding-left: 0 !important;
  margin-left: 0 !important;
}
